* {margin:0;padding:0}

.header {
	 text-decoration:none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 1s ease-in-out;
    height: auto;
    background-color: rgba(17, 42, 107,0);
    text-align: center;
    line-height: 40px;
}


.navbar.active {
    background: #5e6b92;
     opacity: 1;
     -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
   
}
i {
    color: #eee;
}

a {
    color:#eee;
}