content {

  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 300px;
}
content .footer-wrap {

  width: 50%;
  display: flex;
  justify-content: space-around;
  height: auto;
  
}
content .footer-wrap > div {

  margin: 0 15px;
  
}

content .one h2,
content .two h2 {
  color: #a8a6a6;
  text-align: center;
}

content .one ul a,
content .two ul a {
  display: block;
  color: #a8a8a8;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 8px;
  font-size: 13px;
  text-align:center;
  
}
content a:hover {
  border-bottom: 2px solid #FFF;
}

.credit {
  position: relative;
  bottom: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px 0;
}

